langchain
langchain-community
langgraph
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
langchain-text-splitters
langchain-groq

pypdf
ipykernel
pandas
pymupdf
langchain-huggingface
sentence-transformers